{% extends "dashboard_layout.html.twig" %}

{% block body %}

            <h1></h1>
            <h1></h1>
            <h1></h1>

<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Company List</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-12">
                        <div class="example-wrap">
                            <h4 class="example-title">List of Companies You Own</h4>
                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class="text-center">{{ flashMessage }}</p>
                                </div>
                            {% endfor %}
                            <div class="example table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Company Name</th>
                                        <th>Company Email</th>
                                        <th>Company Mobile Number</th>
                                        <th class="text-nowrap">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for company in companies %}
                                    <tr>
                                        <td>#</td>
                                        <td>{{ company.companyName }}</td>
                                        <td>{{ company.companyEmail }}</td>
                                        <td>{{ company.companyMobileNumber }}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
                                                    data-original-title="Edit">
                                                <a class="btn btn-primary" href="{{ path('company_bundle_add_edit', {'id':  company.id  }) }}" >Edit</a>
                                            </button>
                                            <button type="button"  data-toggle="modal" data-target="#modal{{ company.id }}" class="btn btn-sm btn-danger btn-flat" data-toggle="tooltip"
                                                    data-original-title="Delete">
                                                <a class="btn btn-danger">Delete</a>
                                            </button>
                                        </td>
                                    </tr>
                                        <!-- Modal For Delete -->
                                        <div class="modal fade" id="modal{{ company.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center">Warning!!!</h4>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <p style="font-weight: bold; font-size:24px;">Do you want to delete the company called <span style="text-transform: capitalize;">{{ company.companyName }}</span>?</p>
                                                        <img class="img-responsive center-block" width="30%" src="public/dashboard/img/delete.png" alt="">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a data-dismiss="modal" class="btn btn-info"><i class="zmdi zmdi-close"></i> Close</a> <a href="{{ path('company_bundle_add_delete', {'id':  company.id  }) }}" class="btn btn-danger"><i class="zmdi zmdi-delete"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}

